
<div class="container m-5">
    <div class="">
        <h1 class="text-success">Menu Section</h1>
        
        <button class="btn btn-primary mr-5" [routerLink]="['/home']">Home</button>
        <button class="btn btn-primary m-5" [routerLink]="['/about']">About</button>
        <button class="btn btn-primary m-5" [routerLink]="['/experiments']">Experiments</button>
        <button class="btn btn-primary m-5" [routerLink]="['/api']">API Integration</button>
        <button class="btn btn-primary m-5" [routerLink]="['/rxjs']">RxJs</button>
    </div>
    
    
    <div>
        <h2 class="text-danger">Body Section</h2>
        <router-outlet></router-outlet>
    </div>
</div>

